<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.dojogeek.adminibot">

    <application
        android:name="dagger.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/CustomActionBarTheme">
        <activity
            android:name=".views.RegisterUserActivity"
            android:label="@string/title_activity_register" />
        <activity
            android:name=".views.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.MainActivity"
            android:label="@string/title_activity_home_activity" />
        <activity
            android:name=".views.RegisterExpenseActivity"
            android:label="@string/title_activity_expense_registration"
            android:parentActivityName=".views.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.MainActivity" />
        </activity>
        <activity
            android:name=".views.ExpensesInboxActivity"
            android:label="@string/title_activity_expenses_inbox"
            android:theme="@style/CustomActionBarTheme" />
        <activity android:name=".views.ExpenseCreationActivity" />
        <activity
            android:name=".views.PaymentMethodsActivity"
            android:parentActivityName=".views.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.MainActivity" />
        </activity>
        <activity
            android:name=".views.MyCreditCardsActivity"
            android:parentActivityName=".views.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".views.AddPaymentMethodActivity"
            android:parentActivityName=".views.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".views.CardCreationActivity"
            android:parentActivityName=".views.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".views.CreditCardActivity"
            android:parentActivityName=".views.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".views.CashActivity"
            android:parentActivityName=".views.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".views.CheckActivity"
            android:parentActivityName=".views.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".views.FoodCouponsActivity"
            android:parentActivityName=".views.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".views.AddNewPaymentMethodActivity"
            android:parentActivityName=".views.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".views.CreditCardDetailActivity"
            android:parentActivityName=".views.MainActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".views.MyCashActivity"
            android:parentActivityName=".views.MainActivity"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>